# Enable demo mode with pre-configured settings (disables magic link token for login)
DEMO_MODE=true

# The OIDC client identifier
OIDC_CLIENT_ID=

# The OIDC client secret
OIDC_CLIENT_SECRET=

# OpenID Connect Issuer URL, will default to Netlify's URL if not set
ISSUER_URL=

# Private keys encoded in base64 PEM format
# These can be generated with openssl, see below for examples.
# At least one of the keys must be set for the server to start (bare minimum is RS256, but ES256 is advised).
# HMAC secret keys, must be at least 32 bytes long, can be generated with `openssl rand -base64 32 | tr -d '\n'`
KEY_HS256=
KEY_HS384=
KEY_HS512=

# RSA keys, must be at least 2048 bits long,
# e.g. RSA can be generated with `openssl genpkey -algorithm RSA -out private_key.pem -pkeyopt rsa_keygen_bits:2048` and then `cat private_key.pem | base64 | tr -d '\n'`
KEY_RS256=
KEY_RS384=
KEY_RS512=

# ECDSA keys can be generated with 
# `openssl ecparam -genkey -name prime256v1 -noout -out ecdsa_private_key.pem` (P-256), 
# `openssl ecparam -genkey -name secp384r1 -noout -out ecdsa_private_key.pem` (P-384), 
# or `openssl ecparam -genkey -name secp521r1 -noout -out ecdsa_private_key.pem` (P-521)
# and then `cat ecdsa_private_key.pem | base64 | tr -d '\n'`
KEY_ES256=
KEY_ES384=
KEY_ES512=

# RSA-PSS keys can be generated with
# `openssl genpkey -algorithm RSA-PSS -out rsa_pss_private_key.pem -pkeyopt rsa_keygen_bits:2048 -pkeyopt rsa_pss_saltlen:auto` 
# and then `cat rsa_pss_private_key.pem | base64 | tr -d '\n'`
KEY_PS256=
KEY_PS384=
KEY_PS512=

# Ed25519 keys can be generated with
# `openssl genpkey -algorithm ED25519 -out ed25519_private_key.pem` and then `cat ed25519_private_key.pem | base64 | tr -d '\n'`
KEY_EdDSA=

# Base64-encoded cookie authentication key, for signing cookies, must be either 32 or 64 bytes long
# `openssl rand -base64 32 | tr -d '\n'` or `openssl rand -base64 64 | tr -d '\n'`
COOKIE_AUTH_KEY=

# Optional base64-encoded cookie encryption key, for encrypting cookies, must be either 16, 24, or 32 bytes long
# `openssl rand -base64 16 | tr -d '\n'`, `openssl rand -base64 24 | tr -d '\n'`, or `openssl rand -base64 32 | tr -d '\n'`
COOKIE_ENC_KEY=

# PostgreSQL database connection string: postgres://user:password@host:5432/dbname
DB_URL=

# Base64-encoded master key for encrypting database values, must be exactly 32 bytes long
MASTER_KEY=